body {
    background-image: url(../images/22.jpg);
font-family: 'Manrope', sans-serif;
height: 100vh;background-position: center;background-attachment: fixed;background-size: cover;}
@font-face {
font-family: Autography;
src: url('../fonts/Autography.ttf');
}
/*cube animation css start*/

.cube {
position: absolute;
top: 80vh;
left: 45vw;
width: 10px;
height: 10px;
border: solid 1px #3a59d8;
transform-origin: top left;
transform: scale(0) rotate(0deg) translate(-50%, -50%);
-webkit-animation: cube 9s ease-in forwards infinite;
animation: cube 9s ease-in forwards infinite;
}

.cube:nth-child(2n) {
border-color: #ffffff;
}

.cube:nth-child(2) {
-webkit-animation-delay: 2s;
animation-delay: 2s;
left: 25vw;
top: 62vh;
border-color: #3686ad;
}

.cube:nth-child(3) {
-webkit-animation-delay: 3s;
animation-delay: 3s;
left: 80vw;
top: 60vh;
}

.cube:nth-child(4) {
-webkit-animation-delay: 5s;
animation-delay: 5s;
left: 90vw;
top: 10vh;
}

.cube:nth-child(5) {
top: 56vw;
-webkit-animation-delay: 7s;
animation-delay: 7s;
left: 27vw;
border-color: #1179c2;
}

.cube:nth-child(6) {
-webkit-animation-delay: 8s;
animation-delay: 8s;
left: 50vw;
top: 10vh;
}

@-webkit-keyframes cube {
from {
   transform: scale(0) rotate(0deg) translate(-50%, -50%);
   opacity: 1;
}
to {
   transform: scale(20) rotate(960deg) translate(-50%, -50%);
   opacity: 0;
}
}

@keyframes cube {
from {
   transform: scale(0) rotate(0deg) translate(-50%, -50%);
   opacity: 1;
}
to {
   transform: scale(20) rotate(960deg) translate(-50%, -50%);
   opacity: 0;
}
}


/*cube animation css End*/
h1 {
font-family: Autography;
}
/*my account css start*/
.Mainitem p {
color: #fff;
margin: 0;
}
.Mainitem p {
color: #fff;
margin: 0;
}
.My-Accout {
display: flex;
justify-content: center;
align-items: center;
background: #000;
padding: 1rem;
}
.Mainitem {
display: flex;
align-items: center;
justify-content: center;
}
/*my account css end*/
/*////////////////////////////////////////////////////////*/
/*HEADER CSS START*/
.TopNav {
background: #fff;
padding: 10px 0;
}
a.navbar-brand {
font-size: 47px;
font-weight: 600;
color: #000;
text-decoration: none;
}
.TopNav .nav-item {
margin: 0px 10px;
margin-right: 21px;
}
.TopNav .nav-link {
color: #000;
font-size: 17px;
padding: 0 !important;
font-weight: 500;
transition: 0.5s ease;
}
.TopNav .nav-link:hover {
color: #dfbea6;
}
a.dropdown-item {
margin: auto;
color: #000;
font-size: 14px;
padding: 12px 11px;
width: 190px;
background: #000;
color: #fff;
}
.dropdown-menu.show {
padding: 0;
border-radius: 0px;
}
a.dropdown-item:hover {
background: #fff;
color: #000;
}
/*HEADER END START*/
/*SECTION BANNER CSS START*/
.Sec-Banner {
background-image: url(../images/mainbanner.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 718px;
display: flex;
align-items: center;
background-attachment: fixed;
background-position: center;
}
.BannerContent {
text-align: center;
}
.BannerContent h1 {
margin-bottom: 1rem;
color: #fff;
font-size: 120px;
}
.BannerContent p {
color: #fff;
font-size: 17px;
width: 64%;
margin: auto;
font-weight: 400;
margin-bottom: 2rem;
}
.btnShop {
background: #fff;
padding: 11px 40px;
border-radius: 40px;
transition: 0.5s ease;
}
/*SECTION BANNER CSS END*/
/*SECTION TOP COLLECTION CSS START*/
.Sec-TopCollection {
background: transparent;
padding: 4rem 0;
}
.TopCollectHeading h1 {
color: #000;
font-size: 64px;
margin-bottom: 1.5rem;
}
.Collection-box {
position: relative;
background-image: url(../images/collection1.png);
background-repeat: no-repeat;
background-size: cover;
height: 380px;
display: flex;
align-items: end;
padding: 2rem;
transition: all 0.5s ease;
}
.Collection-box h5 {
z-index: 2;
position: relative;
}
.Collection-box h5 a {
color: #fff;
text-decoration: none;
font-size: 23px;
font-weight: 300;
}
.Collection-box-1 {
z-index: 0;
background-image: url(../images/collection2.png);
position: relative;
}
.Collection-box-2 {
background-image: url(../images/collection3.png);
}
.Collection-box-3 {
background-image: url(../images/collection4.png);
}
/*SECTION TOP COLLECTION CSS END*/
/*SECTION TRY-US CSS START*/
.Sec-TryUs {
padding: 4rem 0;
}
.TryUsImage img {
-webkit-animation: movescale 5s linear infinite;
animation: movescale 10s linear infinite;
}
@-webkit-keyframes movescale {
0% {
   -webkit-transform: scale(.8);
   transform: scale(.8)
}
50% {
   -webkit-transform: scale(1);
   transform: scale(1)
}
100% {
   -webkit-transform: scale(.8);
   transform: scale(.8)
}
}
@keyframes movescale {
0% {
   -webkit-transform: scale(.9);
   transform: scale(.9)
}
50% {
   -webkit-transform: scale(1);
   transform: scale(1)
}
100% {
   -webkit-transform: scale(.9);
   transform: scale(.9)
}
}
.TryUsContent {
text-align: center;
}
.TryUsContent h1 {
font-size: 53px;
}
.TryUsContent p {
font-size: 17px;
width: 100%;
font-weight: 500;
color: #000;
margin: 1rem 0;
}
.btnTryon {
background: #000;
color: #fff;
padding: 11px 40px;
border-radius: 40px;
transition: 0.5s ease;
}
/*SECTION TRY-US CSS END*/
/*SECTION FEATURE CSS START*/
.FeaturedSec {
padding: 4rem 0;
background: #fef4ed;
margin-bottom: 0rem;
}
.FeatureHeading {
text-align: center;
margin: 0 0 2rem;
}
.FeatureHeading h1 {
margin: 0;
font-size: 52px;
}
.featuredBox {
transition: all 0.5s ease;
text-align: center;
overflow: hidden;
}
.featuredBox figure {
height: 410px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 3.5rem;
}
.featuredBox h6 {
font-size: 1.2rem;
text-transform: uppercase;
font-weight: 600;
color: #160400;
letter-spacing: 2px;
margin: 0;
}
.featuredBox p {
padding-bottom: 1.5rem;
margin: 0;
font-weight: 600;
color: #160400;
}
.featuredBox ul {
display: flex;
justify-content: center;
gap: 0.2rem;
padding-top: 1rem;
list-style: none;
padding: 0;
padding-top: 4px;
margin-bottom: 4px;
}
.featuredBox ul li a i {
color: #f19152;
font-size: 12px;
}
.featuredBox ul li span {
font-size: 1rem;
color: #160400;
padding-left: 5px;
}
.featuredBox .btncart {
background-color: #160400;
color: #fff;
text-transform: uppercase;
border-radius: 0;
font-weight: 500;
padding: 1em 2.9em;
}
.featuredBox p {
padding-bottom: 11px;
margin: 0;
font-weight: 600;
color: #160400;
}
.btnBag {
background: #000;
padding: 12px 40px;
color: #fff;
border-radius: 40px;
text-transform: uppercase;
transition: 0.5s ease;
}
.featuredtext {
margin-bottom: 3rem;
}
/*SECTION FEATURE CSS END*/
/*SECTION SOME-ABOUT CSS START*/
.Sec-SomeAbout {
padding: 4rem 0;

}
.SomeAboutContent {
text-align: center;
}
.SomeAboutContent h1 {
font-size: 65px;
}
.SomeAboutContent p {
font-weight: 500;
font-size: 16px;
margin-bottom: 20px;
}
.SomeAboutImage figure {
position: relative;
}
.SomeAboutImage figure:before {
background: #dfbea6;
position: absolute;
width: 38%;
content: "";
height: 42%;
right: -2rem;
bottom: -26px;
z-index: -1;
}
@-webkit-keyframes movebounce {
0% {
   -webkit-transform: translateY(0px);
   transform: translateY(0px)
}
50% {
   -webkit-transform: translateX(20px);
   transform: translateX(20px)
}
100% {
   -webkit-transform: translateX(0px);
   transform: translateX(0px)
}
}
@keyframes movebounce {
0% {
   -webkit-transform: translateX(0px);
   transform: translateX(0px)
}
50% {
   -webkit-transform: translateX(-80px);
   transform: translateX(-80px)
}
100% {
   -webkit-transform: translateX(0px);
   transform: translateX(0px)
}
}
.SomeAboutImage figure:after {
background: #dfbea6bd;
height: 40%;
width: 30%;
position: absolute;
content: "";
left: 13%;
-webkit-animation: movebounce 10s linear infinite;
animation: movebounce 10s linear infinite;
}
/*SECTION SOME-ABOUT CSS END*/
/*SECTION RENTAL-PRODUCTS CSS START*/
.Sec-RentalProducts {
/* background: #222222; */
padding: 4rem;
}
.RentalProductHeading {
text-align: center;
margin-bottom: 2rem;
}
.RentalProductHeading h1 {
font-size: 54px;
color: #000;
}
.Sec-RentalProducts .featuredBox h6 {
color: #222;
}
.Sec-RentalProducts .featuredBox ul li span {
color: #000;
}
.Sec-RentalProducts .featuredBox p {
color: #222;
}
.Sec-RentalProducts .btnBag {
background: #fff;
color: #161616;
transition: 0.5s ease;
}
/*SECTION RENTAL-PRODUCTS CSS END*/
/*SECTION NEWSLETTER CSS START*/
.Sec-Newsletter {
padding: 5rem;
display: none;}
.NewsLetterText {
text-align: center;
}
.NewsLetterText h1 {
font-size: 80px;
}
.NewsLetterText p {
font-size: 20px;
color: #000;
font-weight: 400;
}
/*SECTION NEWSLETTER CSS END*/
/*section7 css Start*/
.Section7 .content {
position: relative;
margin: auto;
overflow: hidden;
}
.Section7 .content .content-overlay {
background: #7e756e80;
position: absolute;
height: 100%;
width: 100%;
left: 0;
top: 0;
bottom: 0;
right: 0;
opacity: 0;
-webkit-transition: all 0.4s ease-in-out 0s;
-moz-transition: all 0.4s ease-in-out 0s;
transition: all 0.4s ease-in-out 0s;
}
.Section7 .content:hover .content-overlay {
opacity: 1;
}
.Section7 .content-image {
width: 100%;
}
.Section7 .content-details {
position: absolute;
text-align: center;
padding-left: 1em;
padding-right: 1em;
width: 100%;
top: 50%;
left: 50%;
opacity: 0;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
-webkit-transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}
.Section7 .content:hover .content-details {
top: 50%;
left: 50%;
opacity: 1;
}
.Section7 .fadeIn-left {
left: 20%;
}
.GalleryContent ul {
display: flex;
padding: 0;
margin: 0;
list-style: none;
}
.Section7 {
padding: 4rem 12rem;
background: #fef4ed;
}
.Section7 span {
color: #fff;
font-size: 3rem;
}
.Section7 p {
font-size: 1.875rem;
color: #fff;
margin: 0;
}
.GalleryContent {
text-align: center;
margin: 2rem 0;
}
.GalleryContent h6 {
font-size: 30px;
font-weight: 700;
color: #160400;
}
/*section7 css end*/
/*footer css start*/
footer {
margin-top: 2px;
color: #000;
padding: 6rem 0 2rem;
}
footer ul {
list-style: none;
padding: 0;
margin-bottom: 0;
margin-top: 1rem;
}
footer h6 {
color: #000;
text-transform: uppercase;
font-weight: 600;
letter-spacing: 1px;
margin-bottom: 0;
}
footer li a {
color: #000;
font-size: 0.875rem;
text-decoration: none;
display: block;
text-transform: uppercase;
transition: 0.5s ease;
margin-bottom: 18px;
}
footer p {
margin: 0;
font-size: 0.875rem;
color: #000;
margin-top: 1rem;
margin-bottom: 1rem;
}
footer .form-control {
border-radius: 0;
}
footer .form-check-label {
color: #000;
font-size: 1rem;
font-weight: 200;
}
footer span {
font-weight: 600;
}
footer h5 {
margin: 1.5rem 0;
font-weight: 200;
font-size: 1rem;
}
footer h5 a {
padding-right: 0.4rem;
display: inline-block;
color: #000;
padding-left: 10px;
transition: 0.5s ease;
}
footer .copyright {
display: flex;
margin-top: 3rem;
padding-top: 1rem;
padding-bottom: 0;
text-transform: uppercase;
border-top: 1px solid #ededed;
align-items: center;
justify-content: center;
}
footer button.btn.btn-outline-secondary {
padding-right: 25px;
height: 50px;
color: #000;
width: unset;
font-weight: 500;
font-size: 1rem;
border-radius: 0;
background-color: #fff;
border: 1px solid;
border-left: 0;
}
button.btn.btn-outline-secondary:hover {
color: #000;
}
footer .form-check {
padding-left: 2.1rem;
padding-top: 0.575rem;
padding-bottom: 1rem;
}
.footerbar h3 {
font-size: 0.875rem;
margin-top: 3rem;
margin-bottom: 2rem;
line-height: 1.6;
}
.footer li a:hover {
color: #dfbea6;
text-decoration: none;
}
.footer.Sec-spacing {
padding: 4rem 11rem 1rem;
display: flex;
align-items: center;
justify-content: center;
}
.footer
.input-group input {
height: 50px;
border: 1px solid;
}
.footerbarONE {
margin-top: 0rem;
}
.footer h5 a:hover {
color: #dfbea6;
}
.Mainging {
margin-top: 2rem;
}
.copyright p {
margin: 0;
}
/*footer css end*/
.Sec-RentalProducts .btnBag:hover {
background: #000;
color: #fff;
}
.btnBag:hover {
background: #dfbea6;
color: #fff;
}
.btnTryon:hover {
background: #dfbea6;
color: #fff;
}
.btnShop:hover {
background: #000;
color: #fff;
}
.Collection-box:before {
z-index: 99999999999;
position: absolute;
height: 0%;
width: 100%;
background: #0000009c;
content: "";
bottom: 0;
right: 0;
transition: all 1s ease;
}
.Collection-box:hover:before {
height: 100%;
transition: all 1s ease;
}
.Collection-box:hover {
background-position: top;
transition: all 1s ease;
}
.featuredBox:hover img {
transform: scale(1.2);
transition: all 0.5s ease;
}
.featuredBox img {
transition: all 0.5s ease;
}
@keyframes animateColor {
0% {
filter: hue-rotate(0deg);
}
100% {
filter: hue-rotate(360deg);
}
}
.loader {
position: relative;
width: 150px;
height: 150px;
margin: 0 -7.5px;
}
.loader span {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
transform: rotate(calc(18deg * var(--i)));
}
.loader span::before {
content: "";
position: absolute;
top: calc(50% - 7.5px);
right: 0;
width: 15px;
height: 15px;
background: #00ff0a;
box-shadow: 0 0 10px #00ff0a 0 0 20px #00ff0a 0 0 40px #00ff0a 0 0 80px #00ff0a 0 0 100px #00ff0a;
border-radius: 50%;
transform: scale(0.1);
animation: animateInfinityLoader 4s linear infinite;
animation-delay: calc(0.1s * var(--i));
}
@keyframes animateInfinityLoader {
0% {
transform: scale(1);
}
50%, 100% {
transform: scale(0.1);
}
}
.container .loader:nth-child(2) {
transform: rotate(-180deg);
}
.container .loader:nth-child(2) span::before {
animation-delay: calc(-0.1s * var(--i));
}
.loadermain {
background: #000;
animation: animateColor 8s linear infinite;
display: flex;
position: fixed;
width: 100%;
height: 100%;
z-index: 9999999999999999999;
align-items: center;
justify-content: center;
}
/* width */
::-webkit-scrollbar {
width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey;
border-radius: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #222222;
border-radius: 0px;
}
/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
background: #ececec;
}
/*SECTION INNER-PAGES BANNER CSS START*/
.Sec-InnerPagesBanner{
background-image: url(../images/innerbanner.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 335px;
display: flex;
align-items: center;
}
.InnerPagesBannerText{
text-align: center;
}
.InnerPagesBannerText h1{
font-size: 90px;
color: #fff;
}
/*SECTION INNER-PAGES BANNER CSS END*/
/*SECTION VIDEO-IMAGE CSS START*/
.Sec-VideoImage{
background-image: url(../images/videoimage.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 1052px;
display: flex;
align-items: center;
justify-content: center;
}
.PlayIcon{
text-align: center;
}
/*SECTION VIDEO-IMAGE CSS END*/
/*BLOGS CSS START*/
.blog-section {
padding: 4rem 0;
}
.blog-item {
margin: 50px 0px;
}
.blog-item .left {
display: flex;
}
.date {
width: 35px;
}
.date span {
font-size: 12px;
display: block;
color: #a7a5a5;
font-weight: 600;
text-align: center;
border-bottom: 1px solid #f1f1f1;
padding: 5px 0px;
}
.blog-item figure {
width: 100%;
margin-bottom: 0px;
margin-left: 20px;
padding-bottom: 5px;
border-bottom: 4px solid black;
}
.blog-item img {
width: 100%;
}
.blog-content {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
margin-top: 0px;
}
.blog-content span.cat {
font-size: 12px;
text-transform: uppercase;
color: black;
}
.blog-content h2 {
font-size: 22px;
font-weight: 600;
padding-right: 15px;
}
.blog-content h2::before {
content: "";
display: inline-block;
width: 80px;
height: 1px;
background: #e0e0e0;
margin-right: 10px;
position: relative;
top: -8px;
}
.blog-content a {
width: 100%;
text-align: right;
color: #000;
text-decoration: none;
}
.blog-content p {
color: #626569;
font-size: 15px;
margin-bottom: 20px;
line-height: 28px;
}
.blog-side-item {
margin-bottom: 70px;
}
.blog-side-item h2 {
font-size: 16px;
font-weight: 600;
padding-left: 15px;
margin-bottom: 40px;
border-left: 4px solid #1b1b1d;
color: #1b1b1d;
text-transform: uppercase;
}
a.category-item {
margin-bottom: 40px;
display: block;
}
.category-item div {
width: 90%;
margin: auto;
background: white;
padding: 15px;
margin-top: -25px;
position: relative;
border-bottom: 2px solid black;
box-shadow: 0px 0px 2px #00000038;
}
.category-item div p {
margin-bottom: 0px;
color: #000;
}
/*BLOGS CSS END*/
/*CONTACT PAGE CSS START*/
.ContactPage {
font-family: 'Inter', sans-serif;
}
.MainAddress {
background: #f4f4f4;
padding: 2rem 3rem;
border-radius: 4px;
}
.Location {
margin-bottom: 2rem;
}
.Location h5 {
font-size: 18px;
font-weight: 800;
color: #282828;
margin-bottom: 1rem;
}
.Location ul li {
margin-bottom: 0rem;
}
.Location ul li a {
color: #9b9b9b;
font-size: 16px;
}
.btnContactPage {
background: #35b0bd;
padding: 11px 16px;
font-size: 20px;
font-weight: 600;
color: #fff;
transition: 0.5s ease;
}
.btnContactPage i {
background: #fff;
height: 30px;
width: 30px;
border-radius: 42px;
padding: 6px;
color: #2e7ff3;
margin-right: 10px;
transition: 0.5s ease;
}
.btnContactPage i:hover {
color: #fff;
background: #35b0bd;
}
.btnContactPage:hover {
color: #fff;
background: #000;
}
.COntactinfo h5 {
font-size: 34px;
color: #131045;
margin-bottom: 2.5rem;
letter-spacing: 2px;
}
.COntactinfo p {
color: #9b9b9b;
font-weight: 500;
font-size: 1rem;
margin-bottom: 2.8rem;
}
.innerForm .form-control {
margin-bottom: 1.5rem;
height: 55px!important;
width: 100%;
border: 2px solid #eaeaea;
padding: 0 10px;
border-radius: 8px;
}
.innerForm select {
margin-bottom: 2rem;
border: 2px solid #eaeaea;
border-radius: 2px;
}
.innerForm textarea {
margin-bottom: 1rem;
border: 2px solid #eaeaea;
padding: 8px 11px;
border-radius: 2px;
}
.contact-info ul li {
display: FLEX;
margin-bottom: 25px;
}
ul.contact-socails-address li i {
width: 50px;
height: 50px;
background-color: #fff;
border-radius: 50px;
margin-right: 10px;
display: flex;
align-items: center;
justify-content: center;
}
.contact-info h6 {
font-size: 18px;
color: #fff;
margin: 0;
}
.contact-info p {
font-weight: 600;
color: #fff;
line-height: 27px;
margin-bottom: 2rem;
}
.contact-info {
background-color: #000000;
padding: 46px 30px;
border-radius: 12px;
color: #000;
}
.contact-info h2 {
font-size: 25px;
margin-bottom: 20px;
color: white;
}
.contact-info a {
color: #fff;
font-size: 15px;
text-decoration: none;
}
.contat-wrap p {
margin-bottom: 0px;
color: #fff;
}
.contact-socails ul {
display: flex;
}
.contact-socails ul li a {
transition: 0.5s ease;
color: #fff !important;
font-size: 20px !important;
border: 2px solid #fff;
border-radius: 40px;
display: block;
width: 50px;
height: 50px;
padding: 0px;
margin-right: 15px;
text-align: center;
line-height: 48px;
}
.contact-socails ul {
margin-top: 60px;
margin-bottom: 0px;
}
.contact input{
border-width: 0.5px;
border-color: rgb(212, 212, 212);
border-style: solid;
border-radius: 12px;
background-color: rgb(255, 255, 255);
height: 50px;
padding-left: 20px;
}
.contact textarea {
border-width: 0.5px;
border-color: rgb(212, 212, 212);
border-style: solid;
border-radius: 12px;
background-color: rgb(255, 255, 255);
padding-left: 20px;
}
.ContactPage {
padding: 5rem 0;
}
.btnCustom {
background: #000;
padding: 12px 26px;
border-radius: 0;
color: #fff;
}
.btnCustom:hover {
color: #fff;
}
/*CONTACT PAGE CSS END*/
/*PRODUCt-DETAIL PAGE CSS START*/
section.product-details {
padding-top: 4rem;
}
.main-pro-slider-thumb.slick-slide img {
padding: 7px;
}
.product-details-content h5 {
font-size: 30px;
font-weight: 500;
text-transform: capitalize;
margin-bottom: 1rem;
}
.product-details-content p {
font-size: 15px;
color: #000;
font-weight: 400;
margin-bottom: 2rem;
}
select#exampleFormControlSelect1 {
height: 45px;
margin-bottom: 14px;
border: 1px solid;
border-color: #565656;
font-size: 15px;
font-weight: 500;
color: #000;
font-weight: 600;
}
span.subtotal {
margin-bottom: 15px;
align-items: center;
display: flex;
}
span.subtotal b {
font-size: 32px;
font-weight: normal;
margin-left: 7px;
}
ul.btn-wrapper {
display: flex;
align-items: center;
justify-content: space-between;
list-style: none;
padding: 0;
margin-top: 2rem;
margin-bottom: 2rem;
}
ul.btn-wrapper li {
flex: 0 0 48%;
}
ul.btn-wrapper li a {
width: 100%;
padding: 16px 0px;
text-transform: uppercase;
border: 1px solid;
background: transparent;
border-color: #000;
color: #000;
transition: 0.5s ease;
}
ul.share {
display: flex;
align-items: center;
border-top: 1px solid rgb(204, 204, 204);
margin-top: 40px;
padding-top: 20px !important;
list-style: none;
padding: 0;
}
ul.share li {
margin-right: 20px;
color: #000;
font-weight: 600;
}
ul.usefull-links {
display: flex;
margin-top: 9px;
list-style: none;
padding: 0;
}
ul.usefull-links li {
margin-right: 4px;
font-size: 15px;
font-weight: 500;
color: #000;
}
ul.usefull-links li span {
margin-right: 6px;
}
ul.share li a {
color: #535353;
transition: 0.5s ease;
}
ul.usefull-links li a {
color: #000;
}
/*DESCRIPTION START*/
.product-description {
margin-top: 50px;
margin-bottom: 12rem;
}
.product-description .nav-tabs {
border-bottom: 1px solid black;
}
.product-description .nav-tabs .nav-link {
color: black;
text-transform: uppercase;
padding: 10px 40px !important;
}
ul.specifications {
margin-top: 35px;
}
ul.specifications > li {
display: flex;
flex-wrap: wrap;
margin-bottom: 20px;
margin-top: 20px;
}
ul.specifications > li > span {
flex: 0 0 250px;
}
ul.specifications > li ul {
display: flex;
flex-direction: row;
flex-wrap: wrap;
float: left;
width: 77%;
flex: 0 0 77%;
margin-left: auto;
margin-top: 25px;
list-style: none;
}
ul.specifications > li ul li {
font-size: 15px;
position: relative;
padding-left: 13px;
line-height: 28px;
}
ul.specifications > li ul li {
flex: 0 0 50%;
}
ul.specifications > li ul li:before {
content: "";
width: 8px;
height: 8px;
background-color: #ffd200;
position: ABSOLUTE;
left: 0;
border-radius: 50px;
top: 9px;
}
.contact-socails ul li a:hover {
background: #fff;
color: #000 !important;
}
.col-md-12.video {
    display: flex;
    justify-content: center;
}
/*PRODUCt-DETAIL PAGE CSS END*/


